@keyframes headShake {
  0%,
  100% {
    transform: translate(2%, -2%) rotate(0deg);
  }
  25% {
    transform: translate(2%, -2%) rotate(-10deg);
  }
  75% {
    transform: translate(2%, -2%) rotate(10deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  60%,
  70% {
    animation-timing-function: ease-out;
  }
}
