@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";
@import "../mixins.scss";

.pricesProducts {
  flex-grow: 1;
  @include block-style;

  .edit {
    @include btn-icon;

    top: 10px;
    right: 20px;
  }

  .pricesProductsItem {
    display: flex;
    gap: 20px;

    justify-content: space-between;

    .valuesBlock {
      @include display-flex;
      .valueBlock {
        @include display-flex;
      }
    }
  }
}
