@import "../../../../../styles/colors.scss";
@import "../../../../../styles/mixins.scss";
@import "../../mixins.scss";

.itemRecipe {
  @include block-style;
  max-width: 500px;

  .warning {
    max-width: 650px;
    margin-top: 20px;
    p {
      font-weight: 600;
      color: $red;
    }

    li {
      color: $red;
    }
  }

  .edit,
  .delete {
    @include btn-icon;
  }

  .edit {
    top: 10px;
    right: 60px;
  }

  .delete {
    top: 10px;
    right: 20px;
  }

  .description {
    text-align: justify;
  }

  .ingredientsTilte {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;

    gap: 10px;

    span {
      flex-grow: 1;
    }
  }

  .ingredients {
    .ingredientsItem {
      display: flex;
      justify-content: space-between;

      .ingredientsItemBlockValue {
        display: flex;
        gap: 10px;

        p:first-child {
          text-align: end;
          width: 70px;
        }
        p:last-child {
          width: 70px;
        }
      }
    }
  }

  footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
}
