@import "../../../styles/colors.scss";
@import "../../../styles/sizes.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/brake-points.scss";

$margin-top-bottom: 20px;

.add-products {
  @include height-vh100-window;
  display: flex;

  &__main {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-grow: 1;
    height: 50%;

    gap: 20px;

    &-col1 {
      flex-grow: 1;

      &-list {
        overflow-x: auto;
        margin: 10px 0px 0px 0px;
        padding-right: 10px;
      }
    }
    &-col2 {
      flex-grow: 0;
    }
  }

  &__btns {
    display: flex;
    gap: 40px;
  }

  @media (max-width: $tablet-breakpoint) {
    &__main {
      flex-direction: column-reverse;

      &-col1 {
        &-list {
          padding-right: 0px;
        }
      }
    }

    &__btns {
      display: flex;
      gap: 40px;
    }
  }
}
