@import "../../../styles/colors.scss";
@import "../../../styles/sizes.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/brake-points.scss";

$margin-top-bottom: 20px;

.add-products {
  @include height-vh100-window;
  display: flex;

  &__main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    &-search-block {
      gap: 20px;
      display: flex;

      justify-content: space-between;
    }

    &-list-products {
      margin-top: 20px;
      margin-bottom: 20px;
      overflow-x: auto;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    &__main {
      &-search-block {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}
