@import "../../../styles/colors.scss";
@import "../../../styles/sizes.scss";
@import "../../../styles/mixins.scss";

$margin-top-bottom: 20px;

.add-products {
  @include height-vh100-window;
  display: flex;

  &__list {
    flex-grow: 1;
    overflow-y: scroll;
  }

  &__btns {
    display: flex;
    gap: 40px;
  }
}
