@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

.itemProducts {
  display: flex;
  gap: 10px;

  justify-content: space-between;

  align-items: center;
  .itemProductName {
    min-width: 200px;
    max-width: 300px;
  }

  .blockValues {
    display: flex;

    gap: 20px;

    .blockValue {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      width: 80px;
    }
  }
  .btns {
    display: flex;
    gap: 10px;
    .edit,
    .delete {
      @include btn-icon;
      position: relative;
    }
  }
}
